<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.credit.mapper.CardPublisherMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sys.credit.entity.CardPublisherEntity" id="cardPublisherMap">
        <result property="publisherId" column="publisher_id"/>
        <result property="publisherName" column="publisher_name"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
