<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>积分信息查询</title>
    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <style>
        .container > div {
            margin: 10px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>积分值</th>
                <th>积分记录日期</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="point : ${pointlist}" >
                <td class="text-center">
                    <div th:text="${point.pointNum}"></div>
                </td>
                <td class="text-center">
                    <div th:text="${#dates.format(point.pointDate, 'yyyy/MM/dd HH:mm:ss')}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="~{common/header::scrpit}"></th:block>
</body>
</html>
