<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加卡</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <!--    // TODO 显示卡类型的图片,卡的运营商,判断类型填表单   -->
    <div class="form-group">
        信用卡样张
        <br>
        <img id="img" th:src="${url}" alt="">
    </div>
    <div class="form-group">
        <label for="typeName">申请卡的类型</label>
        <input id="typeName" class="form-control" type="text" th:value="${type.typeName}" readonly>
    </div>
    <div class="form-group">
        <label for="publisherName">申请卡的运营商</label>
        <input id="publisherName" class="form-control" type="text" th:value="${publisher.publisherName}" readonly>
    </div>
    <form autocomplete="off" id="card-add-confirm">
        <div class="form-group">
            <input type="hidden" name="cardMember" th:value="${session.user.getMemberId()}">
        </div>
        <div class="form-group">
            <input type="hidden" name="cardType" th:value="${type.typeId}">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" th:value="${session.user.getMemberId()}">
        </div>
        <div class="form-group">
            <input type="hidden" name="cardPublisher" th:value="${publisher.publisherId}">
        </div>
        <div th:if="${type.typeName eq '家庭卡'}">
            <div class="form-group">
                <label for="familyMemberName">家属名字</label>
                <input class="form-control" id="familyMemberName" name="familyMemberName" >
            </div>
            <div class="form-group">
                <label for="familyWorkProfession">家属工作方向</label>
                <input class="form-control" id="familyWorkProfession" name="familyWorkProfession">
            </div>
            <div class="form-group">
                <label for="familyWorkLocation">家属工作地点</label>
                <input class="form-control" id="familyWorkLocation" name="familyWorkLocation" >
            </div>
        </div>
        <div th:if="${(type.typeName eq '企业卡') || (type.typeName eq '企业ETC卡')}">
            <div class="form-group">
                <label for="workProfession">企业工作方向</label>
                <input class="form-control" id="workProfession" name="workProfession" >
            </div>
            <div class="form-group">
                <label for="workLocation">企业工作地点</label>
                <input class="form-control" id="workLocation" name="workLocation" >
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="submitHandler()">Submit</button>
    </form>
</div>

<th:block th:replace="~{common/header::scrpit}"></th:block>
<script th:inline="javascript">
    function submitHandler() {
        let formData = $('#card-add-confirm').serializeArray()
        console.log(formData);
        let postObj= Object.create(null);
        for (let i = 0; i < formData.length; i++) {
            postObj[formData[i].name] = formData[i].value;
        }
        $.ajax({
            method: "post",
            url: "/credit/save",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(postObj),
            success: function (data) {
                if (data.code === 200) {
                    commonUtil.message("申请成功，请等待审核。。");
                    setTimeout(()=>{
                        window.location.href = "/credit/toList"
                    },2000)
                } else {
                    alert(data.msg)
                }
            },
            error: function (data) {
                console.log(data)
            }
        });
    }
</script>
</body>
</html>
