<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加卡</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <form th:action="@{/credit/toAddInfo}" method="post" autocomplete="off" id="card-add" class="was-validated">
        <div class="form-group">
            <label for="cardType">申请的信用卡类型</label>
            <select class="form-control" name="cardType" id="cardType">
                <option th:each="type: ${typeList}" th:text="${type.typeName}" th:value="${type.typeId}"></option>
            </select>
            <div class="invalid-feedback">请选择信用卡类型！</div>
        </div>
        <div class="form-group">
            <label for="cardPublisher">信用卡运营商</label>
            <select class="form-control" name="cardPublisher" id="cardPublisher">
                <option th:each="publisher: ${publisherList}" th:text="${publisher.publisherName}" th:value="${publisher.publisherId}"></option>
            </select>
            <div class="invalid-feedback">请选择运营商！</div>
        </div>
        <button type="submit" class="btn btn-primary" >Continue</button>
    </form>
</div>

<th:block th:replace="~{common/header::scrpit}"></th:block>
<script th:inline="javascript">
    function submitHandler() {
        let formData = $('#card-add').serializeArray()
        $.ajax({
            method: "post",
            url: "/credit/toAddInfo",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                cardType: formData[0].value,
                cardPublisher: formData[1].value,
            }),
            success: function (data) {
                if (data.code === 200) {
                    alert(data.msg)
                    window.location.href = "/credit/toList"
                } else {
                    alert(data.msg)
                }
            },
            error: function (data) {
                console.log(data)
            }
        });
    }
</script>
</body>
</html>
