<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信用卡管理</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <div>
        <a class="btn btn-primary" onclick="window.location.href='/credit/toList' ">查看名下所有卡</a>

        <a class="btn btn-primary">申请卡</a>
    </div>
</div>
<div th:replace="~{common/header::scrpit}"></div>
</body>
</html>
