<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信用卡列表</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <style>
        button:hover{
            cursor:pointer
        }
    </style>
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>信用卡ID</th>
            <th>信用卡运营商</th>
            <th>信用卡等级</th>
            <th>信用卡图片</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${creditCardList}">
            <td class="text-center">
                <div th:text="${card.cardId}"></div>
            </td>
            <td class="text-center">
                <div th:text="${card.cardDescribe}"></div>
            </td>
            <td class="text-center">
                <div th:text="${card.cardTypeName}" th:value="${card.cardType}"></div>
            </td>
            <td class="text-center">
                <img th:src="${card.cardImageURL}" alt="">
            </td>
            <td class="text-center">
                <button class="btn btn-outline-primary" th:onclick="modifyHandler([[${card.cardId}]])">修改卡信息</button>
                <button class="btn btn-outline-success" th:onclick="upgradeHandler([[${card.cardId}]])">升级</button>
                <button class="btn btn-outline-danger" th:onclick="deleteHandler([[${card.cardId}]])">注销</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{common/header::scrpit}"></th:block>
<script th:inline="javascript">
function modifyHandler(cardId) {
    window.location.href='/credit/edit/'+cardId
}
function upgradeHandler(cardId) {
    window.location.href='/credit/toUpgrade/'+cardId
}
function deleteHandler(cardId) {
    let cardIds = []
    cardIds.push(Number.parseInt(cardId))
    $.ajax({
        method: "post",
        url: "/credit/delete",
        contentType: "application/json",
        dataType: "json",
        data: JSON.stringify(cardIds),
        success: function (data) {
            if (data.code === 200) {
                alert(data.msg)
                window.location.href = "/credit/toList"
            } else {
                alert(data.msg)
            }
        },
        error: function (data) {
            console.log(data)
        }
    });
}
</script>
</body>
</html>
