<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信用卡列表</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
    <style>
        button:hover{
            cursor:pointer
        }
    </style>
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>信用卡ID</th>
            <th>信用卡归属</th>
            <th>信用卡基本</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${creditCardList}">
            <td th:text="${card.cardId}"></td>
            <td th:text="${card.cardDescribe}"></td>
            <td th:text="${card.cardTypeName}" th:value="${card.cardType}"></td>
            <td>
                <button class="btn-sm btn-outline-primary">修改卡信息</button>
                <button class="btn-sm btn-outline-success">升级</button>
                <button class="btn-sm btn-outline-danger">注销</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{common/header::scrpit}"></div>
<script th:inline="javascript">

</script>
</body>
</html>
