<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>信用卡管理</title>
    <link th:href="@{/css/bootstrap-4.0.0.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header::nav}"></div>
<div class="container mt-3">
    <form autocomplete="off" id="card-upgrade" class="was-validated">
        <div class="form-group">
            <label for="cardType">申请的信用卡等级</label>
            <select class="form-control" name="cardType" id="cardType">
                <option th:each="type: ${typeList}" th:text="${type.typeName}" th:value="${type.typeId}" th:selected="${creditCard.cardType eq type.typeId}"></option>
            </select>
            <div class="invalid-feedback">请选择信用卡等级！</div>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" th:value="${session.user.getMemberId()}" name="cardOwner" id="cardOwner">
        </div>
        <div class="form-group">
            <label for="cardDescribe">信用卡运营商</label>
            <input type="text" name="cardDescribe" id="cardDescribe" readonly="readonly" th:value="${creditCard.cardDescribe}">
        </div>
        <div class="form-group">
            <input type="hidden" id="cardId" name="cardId" th:value="${creditCard.cardId}">
        </div>
        <button type="button" class="btn btn-primary" onclick="submitHandler()">Submit</button>
    </form>
</div>
<div th:replace="~{common/header::scrpit}"></div>
<script>
    function submitHandler() {
        let formData = $('#card-upgrade').serializeArray()
        $.ajax({
            method: "post",
            url: "/credit/update",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                cardType: formData[0].value,
                cardOwner: formData[1].value,
                cardDescribe: formData[2].value,
                cardId: formData[3].value,
            }),
            success: function (data) {
                if (data.code === 200) {
                    alert(data.msg)
                    window.location.href = "/credit/toList"
                } else {
                    alert(data.msg)
                }
            },
            error: function (data) {
                console.log(data)
            }
        });
    }
</script>
</body>
</html>
