<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sys.member.mapper.MemberMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sys.member.entity.MemberEntity" id="memberMap">
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="member_name"/>
        <result property="memberUsername" column="member_username"/>
        <result property="memberPassword" column="member_password"/>
        <result property="memberAddress" column="member_address"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberTel" column="member_tel"/>
        <result property="memberBirthday" column="member_birthday"/>
        <result property="memberGender" column="member_gender"/>
        <result property="memberPartner" column="member_partner"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


</mapper>
